{% extends 'form_div_layout.html.twig' %}

{% block media_widget %}

    {% set dropzoneId = "dropzone_"~form.vars.id %}


    {% block media_javascripts %}
        {% javascripts
            '@MediaBundle/Resources/public/js/dropzone.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <script type="text/javascript">
            (function($) {

                function showHideDropzoneButton(nb,max) {
                    if(nb < max)
                        $('div#{{dropzoneId}}').parent().find('.dz-clickable').show();
                    else
                        $('div#{{dropzoneId}}').parent().find('.dz-clickable').hide();
                }



                $(function(){

                    Dropzone.autoDiscover = false;

                    var mediaDropzone = new Dropzone("div#{{dropzoneId}}", {
                        url: "{{app.request.getSchemeAndHttpHost()}}{{ app.request.baseUrl }}/media/upload",
                        maxFiles: 1,
                        parallelUploads: 1,
                        //autoQueue: false, // Make sure the files aren't queued until manually added
                        maxFilesize: 10,
                        clickable : 'p.add-{{dropzoneId}}',
                        acceptedFiles: '.jpg, .png, .jpeg, .pdf',
                        addRemoveLinks : true,
                        dictDefaultMessage : '',
                        previewTemplate : $('div#{{dropzoneId}}').parent().find('.previewTemplateFileDrop').html(),
                        thumbnailWidth : "200",
                        thumbnailHeight : "135",
                        dictInvalidFileType : 'Mauvais type de fichier',
                        dictRemoveFile : '',
                        dictCancelUpload : '',
                        dictCancelUploadConfirmation : 'Confirmer',
                        dictMaxFilesExceeded : 'Limite de photo atteinte.',
                        dictFileTooBig : 'Le fichier est trop volumineux (max 10 Mo)',
                        init : function(){

                            /* DropZone */
                            var $this = this;

                            /* set MaxFiles to 1 by default */
                            $this.options.maxFiles = 1;

                            /* Load existing images for this okaz */
                            var backup_folder = $('div#{{dropzoneId}}').parent().find('.dropzone-backup');

                            if(backup_folder.length && backup_folder.has('img')) {
                                backup_folder.find('img').each(function(i,el){
                                    var mockFile = { name: "Filename", size: 12345 };
                                    var key = $(this).data('key');
                                    Dropzone.forElement('div#{{dropzoneId}}').emit("addedfile", mockFile);
                                    Dropzone.forElement('div#{{dropzoneId}}').emit("thumbnail", mockFile, $(this).attr('src'));

                                    // Set $this.files.length right
                                    $this.files.push(mockFile);

                                    // set data-nb attr for remove link and remove associated hidden input */
                                    mockFile.previewTemplate.setAttribute('data-rel',key);
                                });

                                $('.dz-remove').show();
                            }


                            /* Show clickable button if limit upload */
                            if($this.files.length < $this.options.maxFiles)
                                $('div#{{dropzoneId}}').parent().find('.dz-clickable').show();
                            else {
                                $('div#{{dropzoneId}}').parent().find('.dz-clickable').hide();
                            }

                            /* Show clickable button only if file length < to the maxFile limit */
                            showHideDropzoneButton($this.files.length,$this.options.maxFiles);


                            /* Create Waiting message */
                            if($('#pictureLoader').length == 0) {
                                var loader = $('<p />',{
                                    'id' : 'pictureLoader',
                                    'html' : 'Merci de patienter pendant l\'upload de votre fichier/image'
                                }).appendTo($('form .form-actions')).hide();
                            }
                        }
                    });

                    mediaDropzone
                    .on("success", function(file, response)
                    {
                        file.previewElement.setAttribute('data-rel',response[0].id);

                        $('#{{form.vars.id}}').val(response[0].id);

                        $('.dz-progress').hide();
                        $('.dz-remove').show();

                        /* Show clickable button only if file length < to the maxFile limit */
                        showHideDropzoneButton(mediaDropzone.files.length,mediaDropzone.options.maxFiles);
                    });

                    mediaDropzone
                    .on("removedfile", function(file)
                    {
                        $('#{{form.vars.id}}').val(null);
                    });

                    mediaDropzone
                    .on("complete", function(file, response)
                    {
                        /* Show clickable button only if file length < to the maxFile limit */
                        showHideDropzoneButton(mediaDropzone.files.length,mediaDropzone.options.maxFiles);

                        /* Show submit button when uploading is finished */
                        $('form .form-actions').find('button').show();
                        $('#pictureLoader').hide();
                    });

                    mediaDropzone
                    .on("maxfilesreached", function(file)
                    {
                         $('div#{{dropzoneId}}').parent().find('.dz-clickable').hide();
                    });

                    mediaDropzone
                    .on("maxfilesexceeded", function(file)
                    {
                         $('div#{{dropzoneId}}').parent().find('.dz-clickable').hide();
                    });

                    mediaDropzone
                    .on("error", function(file)
                    {
                        mediaDropzone.removeFile(file);
                    });


                    mediaDropzone
                    .on("sending", function(file, xhr, formData)
                    {

                        /* Hide submit button while uploading */
                        $('form .form-actions').find('button').hide();
                        $('#pictureLoader').show();
                    });


                    mediaDropzone
                    .on("removedfile", function(file)
                    {
                        /* Show clickable button only if file length < to the maxFile limit */
                        showHideDropzoneButton(mediaDropzone.files.length,mediaDropzone.options.maxFiles);
                    });

                });
            })(jQuery);
        </script>
    {% endblock %}

    {% block media_stylesheets %}
        {% stylesheets
            '@MediaBundle/Resources/public/css/media_widget.css'
        %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
        {% endstylesheets %}
    {% endblock %}


    <div class="dropzone_widget">
        <div class="previewTemplateFileDrop" style="display: none;">
            <div class="dz-preview dz-file-preview">
                <div class="dz-details">
                    <img data-dz-thumbnail />
                </div>
                <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
                <div class="dz-error-message"><span data-dz-errormessage></span></div>
                <a href="#" data-dz-remove class="dz-remove" title="Supprimer cette photo"><i class="fa fa-times-circle"></i></a>
            </div>
        </div>


        {# IF THIS OKAZ HAS IMAGES YET#}
        <div class="dropzone-backup">
            {% if form.vars.name is defined and form.vars.name == "picture" %}
                {% if form.vars.value is not empty %}
                    <img src="{{app.request.getSchemeAndHttpHost()}}{{ app.request.baseUrl }}/media/{{form.vars.value}}/admin" alt="" data-key="{{form.vars.value}}" />
                {% endif %}
            {% endif %}

            {% if form.vars.name is defined and form.vars.name == "file" %}
                {% if form.vars.value is not empty %}
                    <img src="{{app.request.getSchemeAndHttpHost()}}{{ app.request.basePath }}/bundles/media/images/dropzone-file.png" alt="" />
                {% endif %}
            {% endif %}
        </div>


        {# DROPZONE #}
        <div class="center">
            <p class="add-dropzone add-{{dropzoneId}}">
                <i class="fa fa-plus-circle"></i> Ajouter une photo / un fichier
            </p>
        </div>


        <div id="{{dropzoneId}}"></div>
        {{ block('form_widget') }}
    </div>
{% endblock %}

