{% if icon is empty %}
        <img src="{{link}}" data-key="{{secretKey}}" data-label="{{ label }}" />
{% else %}
        <img src="{{link}}" data-key="{{secretKey}}" data-label="{{ label }}" /><div id="preview-template" style="display: none;"></div>
{% endif %}
